In [73]:
import numpy as np
import pandas as pd
import seaborn as sns
import itertools as it
import matplotlib.pyplot as plt
from collections import Counter

In [74]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1655,tt0338512,74500000,62172050,Deux frÃ¨res,MaÃ¯ Anh Le|Guy Pearce|Oanh Nguyen|Jaran 'See ...,Jean-Jacques Annaud,"Two infant tiger cubs, separated from their pa...",Two tigers are separated as cubs and taken int...,109,Adventure|Drama|Family,PathÃ© Renn Productions|TF1 Films Production|C...,4/7/2004,6.8,2004
1054,tt1366365,20000000,16863583,The Cold Light of Day,Henry Cavill|VerÃ³nica Echegui|Sigourney Weave...,Mabrouk El Mechri,Be careful who you trust.,A young American (Cavill) uncovers a conspirac...,93,Action|Thriller,Summit Entertainment|Intrepid Pictures|Film Ri...,4/4/2012,4.8,2012
1317,tt0367594,150000000,474968763,Charlie and the Chocolate Factory,Johnny Depp|Freddie Highmore|AnnaSophia Robb|J...,Tim Burton,Willy Wonka is semi-sweet and nuts.,A young boy wins a tour through the most magni...,115,Adventure|Comedy|Family|Fantasy,Village Roadshow Pictures|The Zanuck Company|W...,7/9/2005,6.5,2005
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003
455,tt1020558,12000000,6814789,Centurion,Michael Fassbender|Olga Kurylenko|David Morris...,Neil Marshall,History is written in blood,"Britain, A.D. 117. Quintus Dias, the sole surv...",97,Drama|Action|Thriller,PathÃ© Pictures International|UK Film Council|...,2/15/2010,5.7,2010

In [75]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [87]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#Crearing a copy of the dataset to avoid manupulating raw data and losing records
movies = data.copy()

#Adding Porfit calculation as a difference between revenue and budget (costs)
data['profit'] = data['revenue'] - data['budget']

#Extracting month from the release date to retrieve release month
movies['release_month'] = pd.DatetimeIndex(movies['release_date']).month

#Adding a field which calculates a number of symbols of the film name
movies['name_length'] = movies.original_title.apply(lambda x:len(x))

#Counting words in the film overview and create a new field in a dataset
movies['overview_word_count'] = movies.overview.apply(lambda x: len(x.split(' ')))

#create ranking by vote_average and normalise it
movies['rating_rank'] = movies.vote_average.rank(pct = True)


#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [77]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [111]:
# тут пишем ваш код для решения данного вопроса:
#Choose the record with the biggest budget by calculating max budget across dataset and only display imdb_id and original title
movies[movies.budget == movies.budget.max()][['imdb_id','original_title']]
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650) +'

ВАРИАНТ 2

In [112]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [80]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '...'

In [113]:
#Choose the record with the longest runtime by calculating max runtime and only display imdb_id and original title
movies[movies.runtime == movies.runtime.max()][['imdb_id','original_title']]
answers['2'] = 'Gods and Generals (tt0279111) +'

# 3. Какой из фильмов самый короткий (в минутах)?

In [114]:
#As in the previous task, choose the record with the shortest runtime by calculating min runtime and only display imdb_id and original title
movies[movies.runtime == movies.runtime.min()][['imdb_id','original_title']]
answers['3'] = 'Winnie the Pooh (tt1449283) +'

# 4. Какова средняя длительность фильмов?

In [115]:
#Choose averge run time by using mean function across the dataset
answers['4'] = str(round(movies.runtime.mean())) + " +"

# 5. Каково медианное значение длительности фильмов?

In [116]:
#Choose median run time by using median function across the dataset
answers['5'] = str(round(movies.runtime.median())) + " +"

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [88]:
# лучше код получения столбца profit вынести в Предобработку что в начале
#To choose the most profitable movie we find the record with max profit.
#Profit is defined earlier as a difference between revenue and budget.
#Only display imdb_id and original title
movies[movies.profit == movies.profit.max()][['imdb_id','original_title']]
answers['6'] = 'Avatar (tt0499549) +'

# 7. Какой фильм самый убыточный?

In [89]:
#In the same way as in the previous task we find the record with min profit across the dataset
movies[movies.profit == movies.profit.min()][['imdb_id','original_title']]
answers['7'] = 'The Lone Ranger (tt1210819) +'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [90]:
#Firstly we need to slice dataset and find movies where revenue is greater than budget
#Then we count unique ids
answers['8'] = movies[movies.revenue > movies.budget].imdb_id.nunique()

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [91]:
#Firstly we need to slice dataset and find movies with release year of 2008
sample2008 = movies[movies.release_year == 2008]
#Then find a record with the max profit
sample2008[sample2008.revenue == sample2008.revenue.max()][['imdb_id','original_title']]
answers['9'] = 'The Dark Knight (tt0468569) +'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [92]:
#Firstly we need to slice dataset and find movies with release year between 2012 and 2014
sample1214 = movies[(movies.release_year >= 2012) & (movies.release_year <= 2014)]
#Then find a record with the min profit
sample1214[sample1214.profit == sample1214.profit.min()][['imdb_id','original_title']]
answers['10'] = 'The Lone Ranger (tt1210819) +'

# 11. Какого жанра фильмов больше всего?

In [93]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
#Greating a subset of data and splitting the string from genres because there is 1 or more genre per film id
#In order to find the most popular genre and calculate it correctly we need to have one genre per row
genres_films = movies.copy()
genres_films = genres_films.genres.str.split('|')
#Populate duplicated rows to have only 1 genre per row
genres_films = genres_films.explode('genres')
#Count unique values and display the most popular genre
answers['11'] = genres_films.value_counts().index[0] + ' +'

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [94]:
#Create a slice of data which only includes profitable films (profit > 0)
genres_profit_films = movies[movies.profit > 0]

#Repeat the rows exploiding operation from the previos task so we have 1 genre per row
genres_profit_films = genres_profit_films.genres.str.split('|')
genres_profit_films = genres_profit_films.explode('genres')

#Count unique values and display the most profitable genre, i.e. the most frequent genre in the slice of dataset with profitable films only
answers['12'] = genres_profit_films.value_counts().index[0] + ' +'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [95]:
#We simply group dataset by director and revenue
answers['13'] = movies.groupby(['director'])['revenue'].sum().sort_values(ascending=False).index[0] + ' +'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [96]:
#Create a slice of data and only show films where at least one genre is Action
movies3 = movies.copy()
action_director = movies3[movies3.genres.str.contains("Action", na=False)]
#Exploiding the data to be sure that we only have 1 director per row
action_director = action_director.director.str.split('|')
action_director = action_director.explode('director')
answers['14'] = action_director.value_counts().sort_values(ascending=False).index[0] + ' +'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [97]:
#Create a slice of data to only show movies of 2012
movies_2012 = movies[movies.release_year == 2012]
#As we have more than 1 leading actor per film, exploid the dataset to have 1 actor per 1 row
movies_2012['cast'] = movies_2012['cast'].str.split('|')
movies_2012 = movies_2012.explode('cast')
answers['15'] = movies_2012.groupby(['cast']).revenue.sum().sort_values(ascending = False).index[0] + ' +'

<ipython-input-97-c2ef1a800852>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_2012['cast'] = movies_2012['cast'].str.split('|')

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [98]:
#Create a slice of data to only show high budget movies. We assume a high budget movies is a movie with budget greater than average across the dataset
movies_high = movies[movies.budget > movies.budget.mean()]
#As we have more than 1 leading actor per film, exploid the dataset to have 1 actor per 1 row
movies_high = movies_high.cast.str.split('|')
movies_high = movies_high.explode('cast')
answers['16'] = movies_high.value_counts().sort_values(ascending=False).index[0] + ' +'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [99]:
#Create a slice of data with Nicolas Cage movies only
movies_nc = movies[movies.cast.str.contains('Nicolas Cage', na = False)]
#Repeat the exploiding row operation so we have 1 genre per row
movies_nc = movies_nc['genres'].str.split('|')
movies_nc= movies_nc.explode('genres')
answers['17'] = movies_nc.value_counts().sort_values(ascending=False).index[0] + ' +'

# 18. Самый убыточный фильм от Paramount Pictures

In [100]:
#Slice the dataset so we only have films from Paramount Pictures
movies_pm = movies[movies.production_companies.str.contains("Paramount Pictures", na = False)]

#Find the film with minimal profit
movies_pm[movies_pm.profit == movies_pm.profit.min()][['imdb_id','original_title']]
answers['18'] = 'K-19: The Widowmaker (tt0267626)' + ' +'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [101]:
#In order to find the year with biggest yearly revenue we group the dataset by year and sum of revenue and sort values in descending order
answers['19'] = str(movies.groupby(['release_year'])['revenue'].sum().sort_values(ascending =  False).index[0]) + ' +'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [102]:
#Slice the dataset and create a sample with films created by Warner Bros
movies_wb = movies[movies.production_companies.str.contains("Warner Bros", na = False)]

#In order to find the year with biggest yearly revenue we group the dataset by year and sum of revenue and sort values in descending order
answers['20'] = str(movies_wb.groupby(['release_year'])['revenue'].sum().sort_values(ascending =  False).index[0]) + ' +'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [103]:
#In pre cleansing stage we have created a release_month column which is an extraction of month value from release_date
#In order to see which month is the most productive month of the year, we count a number of film ids across month numbers
#To see the most productive month, we sort a groupped dataset in descending order
answers['21'] = str(movies.groupby(['release_month'])['imdb_id'].count().sort_values(ascending =  False).index[0]) + ' +'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [104]:
#In order to see number of films produced in the summer, use grouping operations on the summer months only and count unique ids
answers['22'] = str(movies[movies['release_month'].isin([6,7,8])].imdb_id.nunique()) + ' +'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [105]:
#Slice the data first and select only the winter months
winter_movies = movies[movies['release_month'].isin([12,1,2])]

#As we have more than 1 genre per film, exploid the dataset to have 1 genre per 1 row
winter_movies = winter_movies['director'].str.split('|')
winter_movies = winter_movies.explode('director')

#The answer will be the first record once we sorted the values with descending order
answers['23'] = winter_movies.value_counts().sort_values(ascending=False).index[0] + ' +'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [106]:
#In order to see the length of the film name in symbols we created a new column name_length in the dataset
movies_length = movies.copy()

#As before, we exploid the production companies field as it may comtain more than 1 production company
movies_length.production_companies = movies_length['production_companies'].str.split('|')
movies_length = movies_length.explode('production_companies')

#Group the sample by production company, calculate the average value of number of symbols and sort in descending order
#Answer is the first record in the table
answers['24'] = movies_length.groupby(['production_companies'])['name_length'].mean().sort_values(ascending = False).index[0] + ' +'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [107]:
#In order to see the length of the overview in words we created a new column overview_word_count in the dataset
movies_overview = movies.copy()

#As before, we exploid the production companies field as it may comtain more than 1 production company
movies_overview.production_companies = movies_overview['production_companies'].str.split('|')
movies_overview = movies_overview.explode('production_companies')

#Group the sample by production company, calculate the average value of number of words and sort in descending order
#Answer is the first record in the table
answers['25'] = movies_overview.groupby(['production_companies'])['overview_word_count'].mean().sort_values(ascending = False).index[0] + ' +'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [108]:
#Using the ranking, create a subset of data for the first 1% of films and display it
display(movies[movies.rating_rank >= 0.99])
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave' + ' +'

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,name_length,overview_word_count,rating_rank
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015,678708609,6,10,112,0.998677
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,8.0,2015,29401758,10,4,49,0.998677
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,8.0,2014,456752480,11,12,35,0.998677
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/2014,7.9,2014,603312399,7,23,28,0.995236
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,8.0,2014,219555708,11,18,46,0.998677
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,7.9,2014,308330363,10,9,30,0.995236
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2/26/2014,7.9,2014,144600318,2,24,66,0.995236
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,7/14/2010,7.9,2010,665500000,7,9,44,0.995236
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825,7,15,67,1.000000
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,9/24/2002,7.9,2002,85072577,9,11,39,0.995236
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003,1024888979,12,45,45,0.995236
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,12/25/2013,7.9,2013,292000694,12,23,29,0.995236
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,7.9,2013,167000000,10,16,61,0.995236
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,7.9,2000,30723096,10,7,78,0.995236

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [109]:
from collections import Counter
import itertools as it
import pandas as pd

#We use a intertools package and look at the cast combinations and store it in tuple
movies['cast_combination'] = movies.cast.str.split('|').apply(lambda x: tuple(it.combinations(sorted(x),2)))

#Then display the top 5 of the most common combinations - Kudos to Sergey Meshcheryakov for this solution!
Counter(movies.cast_combination.values.sum()).most_common(5)

answers['27'] = 'Daniel Radcliffe & Rupert Grint +'

# Submission

In [117]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'6': 'Avatar (tt0499549) +',
 '7': 'The Lone Ranger (tt1210819) +',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569) +',
 '10': 'The Lone Ranger (tt1210819) +',
 '11': 'Drama +',
 '12': 'Drama +',
 '13': 'Peter Jackson +',
 '14': 'Robert Rodriguez +',
 '15': 'Chris Hemsworth +',
 '16': 'Matt Damon +',
 '17': 'Action +',
 '18': 'K-19: The Widowmaker (tt0267626) +',
 '19': '2015 +',
 '20': '2014 +',
 '21': '9 +',
 '22': '450 +',
 '23': 'Peter Jackson +',
 '24': 'Four By Two Productions +',
 '25': 'Midnight Picture Show +',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave +',
 '27': 'Daniel Radcliffe & Rupert Grint +',
 '1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650) +',
 '2': 'Gods and Generals (tt0279111) +',
 '3': 'Winnie the Pooh (tt1449283) +',
 '4': '110 +',
 '5': '107 +'}

In [118]:
# и убедиться что ни чего не пропустил)
len(answers)

27